/*.bg-primary {
    background: #ffc420;
}

.bg-secondary {
    background: #0069ed;
}

.bg-dark {
    background: #161822;
}

.bg-light {
    background: #ededed;
}

.bg-white {
    background: #ffffff;
}

.color-primary {
    color: #ffc420;
}

.color-secondary {
    color: #0069ed;
}

.color-light {
    color: #fafafa;
}

.color-dark {
    color: #161822;
}

.color-grey {
    color: #6c7277;
}

.color-white {
    color: #fff;
}*/

.bg-primary {
    background: #fbbc05;
}

.bg-secondary {
    background: #4285f4;
}

.bg-white {
    background: #ffffff;
}

.bg-light {
    background: #f1f3f4;
}

.bg-darkest {
    background: #444444;
}

.bg-darker {
    background: #4d4d4b;
}
.bg-dark {
    background: #5f6368;
}

.bg-grey {
    background: #808792;
}


.color-primary {
    color: #fbbc05;
}

.color-secondary {
    color: #4285f4;
}

.color-white {
    color: #ffffff;
}

.color-light {
    color: #f1f3f4;
}

.color-darkest {
    color: #444444;
}

.color-darker {
    color: #4d4d4b;
}
.color-dark {
    color: #5f6368;
}

.color-grey {
    color: #808792;
}





