.icon {
    display: inline-flex;
}

.icon-50 {
    height: 50px;
    width: 50px;
}

.image-fluid {
    width: 100%;
    max-height: 100%;
}

.box-shadow-primary {
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
}

.overlay {
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
}

.button {
    border: none;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: all 1s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    outline: none;
    
}

.button-small {
    padding: .5rem 1.5rem;
    font-size: .5rem;
}

.button-medium {
    padding: .8rem 1.8rem;
    font-size: .8rem;
}

.button-large {
    padding: 1rem 2rem;
    font-size: 1rem;
    max-height: 70px;
}

  











/************************************************************ Navbar ********************************************/

.main-header {
    position: fixed;
    width: 100%;
    left: auto;;
    top: 0;
    transition: all 1s ease;
    z-index: 3000;
    height: 64px;
}

.scrolled-header {
    background: rgba(255, 255, 255, 1);
    transition: all 1s ease;
}

.header-shadow {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
}

.navbar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.left-nav {
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar-logo {
    display: block;
    height: 45px;
    width: 45px;
}

.navbar-logo-text {
    margin-left: 7px;
}


/************************************************************** Jumbotron **************************************************/

.jumbotron {
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-top: 21px;
}

.slider {
    width: 300%;
    height: auto;
    background: #9ccc65;
    display: flex;
    position: absolute;
    animation: slider-animation 33s ease 0s infinite normal forwards;
}

@keyframes slider-animation {
    33% {
        margin-left: -100%;
    }

    66% {
        margin-left: -200%;
    }
}
  
.slide {
    height: auto;
    width: 100%;
}

.jumbotron--title {
    font-size: 2.5rem;
    font-weight: 100;
}

.ref-logo {
    height: 90px;
    width: 250px;
    position: absolute;
    top: 64px;
    right: 0;
}



/******************************************************************* Menu-Button ***********************************************/

.menu-button {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    height: 22px;
    width: 22px;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    position: relative;
}

.menu-button--icon {
    height: 12px;
    width: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.service-button {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    height: 24px;
    width: 24px;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding-right: 10px;
}


.toggler {
    display: none;
}

.menu-button::after {
    color: #fff;
    background: #5f6368;
    content: "menu";
    position: absolute;
    top: 23px;
    left: -10px;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 0.825rem;
    display: none;
}

.menu-button:hover .menu-button::after {
    display: inline;
}







/************************************************************************************ Navigation *******************************************************************/

.navigation {
    width: 280px;
    height: 100%;
    position: fixed;
    top: 64px;
    left: auto;
    overflow: auto;
    z-index: 1000;
    padding: 0;
    transition: all 1s ease;
}

.navigation-row {
    flex-direction: column;
    padding-bottom: 70px; 
    width: 100%;
    padding-left: 50px;
}

#menu-toggler:checked ~ .navigation {
    transform: translateX(-100%);
    border-radius: 0%;
    opacity: 1;
}



.menu-header {
    font-weight: 100;
    font-size: 1.1rem;
    margin-top: 35px;
}

.menu-link {
    width: 100%;
    display: flex;
    height: 45px;
    align-items: center;
    font-size: 0.8125rem;
    font-weight: bold;
    text-decoration: none;
    color: #6c7277;
    position: relative;
    padding-left: 21px;
}

/***************************************************************** Popup *****************************************/

.popup {
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-sizing: border-box;
    border-radius: 4px;
    position: fixed;
    top: 60px;
    right: 21px;
    z-index: 3000;
    display: none;
    width: 300px;
    padding: 0 7px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.popup-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    width: 80px;
    min-height: 80px;
    margin: 7px 0;
    cursor: pointer;
}

.popup-link {
    text-decoration: none;
}

.popup-icon {
    height: 55px;
    width: 55px;
    margin-top: 7px;
}

.popup-text {
    text-align: center;
}

.popup-item:hover {
    background: #f0f0f0;
}


#service-toggler:checked ~ .popup {
    display: flex;
}

/************************************************************************ Main ************************************************/

.main {
    padding-top: 64px;
    padding-bottom: 21px;
    transition: all 1s ease;
}



/********************************************************************************** Section *******************************************************************/

.section {
    
}

.section-title {
    font-weight: 100;
}

.section-text--large {
    font-size: 1rem;
}

.section-text--small {
    font-size: 0.9rem;
}



.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    padding: 14px;
    margin-bottom: 14px;
}

.card-title {
    margin-top: 0;
}




/******************************************************************** Footer *********************************************************************/

.footer {
    padding-top: 70px;
    padding-bottom: 50px; 
    transition: all 1s ease;
} 

.footer-list {
    padding-left: 16px;
}

.footer-list-item {
    min-height:  30px;
    line-height: 30px;
}

.footer-list-link {
    text-decoration: none;
}














/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .popup {
        right: 10px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px){
    

    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .main {
        padding-left: 280px;
    }

    .footer {
        padding-left: 280px; 
    }
    
    #menu-toggler:checked ~ .main {
        padding-left: 0;
        transition: all 1s ease;
    }

    #menu-toggler:checked ~ .footer {
        padding-left: 0;
        transition: all 1s ease;
    }
    

  



} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1559px){
    .main {
        padding-left: 280px;
    }

    .footer {
        padding-left: 280px; 
    }
    
    #menu-toggler:checked ~ .main {
        padding-left: 0;
        transition: all 1s ease;
    }

    #menu-toggler:checked ~ .footer {
        padding-left: 0;
        transition: all 1s ease;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2560px) {
    .main {
        padding-left: 280px;
    }

    .footer {
        padding-left: 280px; 
    }
    
    #menu-toggler:checked ~ .main {
        padding-left: 0;
        transition: all 1s ease;
    }

    #menu-toggler:checked ~ .footer {
        padding-left: 0;
        transition: all 1s ease;
    }
}